.DS_Store
.idea/
.vscode/
*.iml
*.swp
*.log

**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/coverage/

**/android/.gradle/
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

**/ios/Pods/
**/ios/Runner.xcworkspace
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
